.root {
    -fx-font-size: 10pt;
    -fx-base: rgb(32, 75, 193);
    -fx-background: #99cc99;
}

.button {
    -fx-text-fill: black;
    -fx-background-color: #E0E0E0;
    -fx-border-color: green;
    -fx-border-radius: 10;
    -fx-background-radius: 15;
    -fx-padding: 8;
}

.button:hover {
    -fx-background-color: green;
    -fx-border-color: white;
    -fx-text-fill: white;
}
.welRect {
    -fx-fill: lightblue;
}
.welText {
    -fx-font-size: 30pt;
    -fx-font-family: "Helvetica";
    -fx-text-color-fill: blue;
}
.text {
    -fx-font-family: "Helvetica";
    -fx-text-color-fill: black;
}
.myPane {
	-fx-background-color: black;
}

